option_settings:
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /health
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
  aws:elasticbeanstalk:hostmanager:
    LogPublicationControl: true
  aws:ec2:vpc:
    VPCId: VPC_ID_HERE
    Subnets: COMMA_SEPERATED_VPC_SUBNET_IDS_HERE
    ELBSubnets: COMMA_SEPERATED_ELB_SUBNET_IDS_HERE
    AssociatePublicIpAddress: false
  aws:elb:loadbalancer:
    CrossZone: true
  aws:elbv2:listener:listener_port:
    SSLCertificateArns: SSL_CERT_ARN_HERE
  aws:autoscaling:launchconfiguration:
    EC2KeyName: EC2_KEY_NAME_HERE
    MonitoringInterval: 1 minute
  aws:autoscaling:launchconfiguration:
    SecurityGroups: SECURITY_GROUP_ID_HERE
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:sns:topics:
    Notification Topic ARN: SNS_NOTIFICATION_ARN_HERE
  aws:elb:policies:
    ConnectionDrainingEnabled: true
    ConnectionDrainingTimeout: 60
