option_settings:
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /health
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
  aws:elasticbeanstalk:hostmanager:
    LogPublicationControl: true
  aws:ec2:vpc:
    VPCId: YOUR-VPC-ID-HERE
    Subnets: YOUR-COMMA-SEPERATED-VPC-PRIVATE-SUBNETS-HERE
    ELBSubnets: YOUR-COMMA-SEPERATED-VPC-PUBLIC-SUBNETS-HERE
    AssociatePublicIpAddress: false
  aws:elb:loadbalancer:
    CrossZone: true
  aws:elbv2:listener:listener_port:
    SSLCertificateArns: YOUR-SSL-CERT-ARN-HERE
  aws:autoscaling:launchconfiguration:
    EC2KeyName: YOUR-EC2-KEYPAIR-NAME-HERE
    MonitoringInterval: 1 minute
  aws:autoscaling:launchconfiguration:
    SecurityGroups: YOUR-EC2-SECURITY-GROUP-ID-HERE
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:sns:topics:
    Notification Topic ARN: YOUR-SNS-TOPIC-ARN-HERE
  aws:elb:policies:
    ConnectionDrainingEnabled: true
    ConnectionDrainingTimeout: 60
