Resources:
  AWSEBLoadBalancerSecurityGroup:
    Type: "AWS::EC2::SecurityGroup"
    Properties:
      GroupDescription: "ELB security group"
      SecurityGroupIngress:
        - {CidrIp: "0.0.0.0/0", IpProtocol: "tcp", FromPort: "80", ToPort: "80"}
        - {CidrIp: "0.0.0.0/0", IpProtocol: "tcp", FromPort: "443", ToPort: "443"}

option_settings:
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.small
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 1
  aws:elasticbeanstalk:command:
    DeploymentPolicy: AllAtOnce
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: false
